.git
.github
.idea
.vscode

.env
.env.*
*.log
logs
tmp
data

**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.cache/

.venv
venv
env

# не тащим большие артефакты
**/dist/
**/build/
**/*.egg-info/